<h1>Yoember App</h1>
<p>
  {{#link-to 'index'}}
    home
  {{/link-to}}
  {{#link-to 'foo'}}
    foo
  {{/link-to}}
  {{#link-to 'bar'}}
    bar
  {{/link-to}}
  {{#link-to 'my-component-route'}}
    bar
  {{/link-to}}
</p>
<hr>
{{outlet}}
